/* 
font-family: "Playfair Display", serif;
font-family: "Poppins", sans-serif;
*/

/* h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
} */
:root {
  --primary-color: #ffc8f1;
  --branding-color: #272142;
  --heading-font-family: "Playfair Display", serif;
  --subheading-font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--primary-color);
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 45px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

h2 {
  font-family: var(--heading-font-family);
  font-size: 35px;
  font-weight: bold;
}
h3 {
  font-family: var(--subheading-font-family);
  font-size: 17px;
  font-style: italic;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

img {
  width: 600px;
  padding: 20px 50px;
}

.summary {
  text-align: center;
  padding: 160px 20px;
}

.summary h2 {
  font-family: var(--subheading-font-family);
  font-size: 27px;
  font-weight: 400;
  line-height: 2;
}

.summary h3 {
  font-family: var(--subheading-font-family);
  font-size: 17px;
  font-style: italic;
  color: #272142;
}

.content {
  padding: 20px 20px;
  margin: 30px 0;
}

.content-container h1 {
  font-size: 30px;
  line-height: 1.8;
}

.content-container h2 {
  font-size: 20px;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.8;
}

.content-container h3 {
  font-size: 15px;
}

.btn-branding {
  background: var(--branding-color);
  color: var(--primary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  background-color: var(--branding-color);
  color: var(--primary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 60px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
    text-align: center;
  }
  h2 {
    font-size: 30px;
    text-align: center;
  }
  h3 {
    font-size: 17px;
    text-align: center;
  }

  .summary {
    padding: 80px 10px;
  }

  .content-container {
    text-align: center;
    margin: 0 auto;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
}
